<h1><strong><u>All Comments</u></strong></h1>

<table class="table table-condensed table-responsive">
	<thead>
		<tr>
			<td><u>Comments</u></td>
			<td><u>Products</u></td>
		</tr>
	</thead>
	<tbody>
		<% @comments.each do |comment| %>
		<tr>
			<td><%= comment.comment %> </td>
			<td><%= comment.product.name %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<br>
<a href="/"><button class="default">Go Back</button></a>
